.container {
  display: grid;
  align-content: center;
  overflow: hidden;
  width: 100%;
  /* test */
  height: 10vh;
  /* background-color: #fcf4db52; */
  background-image: linear-gradient(
    to right bottom,
    #122b48,
    #122b48 45%,
    #3f6ba1 100%
  );
  background-clip: "text";
  padding-top: 10px;
  padding-bottom: 10px;
}

.marquee-wrapper {
  margin: auto;
  max-width: 100vw;
}
.marquee {
  display: flex;
  gap: 2rem;
}
.marquee-group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  min-width: 100%;
  animation: scroll-left 30s linear infinite;
}
.marquee-tag-wrapper {
  text-decoration: none;
  color: white;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  padding: 0.5rem 1.25rem 0.5rem 0.5rem;
  background-color: transparent;
  border-radius: 10%;
  transition: all 0.25s;
}

.marquee-tag-wrapper:hover {
  background-color: transparent;
}
.marquee-tag-container {
  display: flex;
  align-items: center;
}
.marquee-tag-icon {
  padding: 1.25rem;
  background-color: #fdfcf8;
  border-radius: 100%;
  transition: 0.25s;
}
.marquee-tag {
  margin-left: 0.75rem;
  color: white;
}

.marquee-tag-wrapper:hover .marquee-tag-icon {
  opacity: 1;
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 2rem));
  }
}
/* @media (prefers-reduced-motion: reduce) {
  .marquee-group {
    animation-play-state: paused;
  }
} */
