@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Harmond";
  src: url("/fonts/Harmond-ExtraBoldExpanded.otf");
}

@font-face {
  font-family: "HARMONY";
  src: url("/fonts/HARMONY.otf");
}

@layer base {
  html {
    font-family: "HARMONY", "sans-serif";
  }
}
/* @layer components {
  .btn-primary {
    @apply border-0 p-2 px-6 bg-slate-100 rounded-md;
  }
} */
